nav{
    background-color: lightcoral;
    width: auto;
    height: 3%;
}
body{
    background-color: #201e1f;
}
h1,h2{
    color: #84714F;
}
a{
    text-decoration: wavy;
    color: #50b2c0;
}
a :hover, a :active{
    color: cyan;
}
p{
    font-size: large;
    color: #E3D888;
}
div{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

